<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="DBCS" connectionString="Data Source=LAPTOP-KTV1927K\SQLEXPRESS;Initial Catalog=ProjectDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 
 </connectionStrings>
</configuration>